html {
  background-color: rgba(231, 137, 13, 0.158);
}
.App {
  text-align: center;
}

.logodonk {
  height: 13vmin;
  text-align: center;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.donkeyBig {
  width: 21%;
}
.becomeStrong {
  margin-top: 1%;
  text-align: center;
  color: rgba(0, 0, 255, 0.418);
  font-style: italic;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
